body {
    background-color: #F3F5FC;
}


.cabecalho{
    margin: 20px 10px 0 24px;
}

.alura{
    margin: -15px 24px;
}

.titulo {
    font-family: "inter";
    font-weight: bold;
    font-size: 32px;
    color: #0A3871;
    display: inline-block;
}

#form {
    width: 100%;
}

.adicionar{
    margin: 5% 0 0 30%;
    font-size: 32px;
    background-color: #F3F5FC;
    width: 600px;
    height: 250px;
    border-style: none;
    font-family: "inter";
}

#placeholder::placeholder {
    color: #0A3871;
}

.info {
    display: block;
    margin: 10px 0 0 30%;
}

.aviso {
    font-family: "inter";
    margin: 2px 0 0 2px;
    opacity: 0.8;
    color: #495057;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.botoes {
    display: block;
    margin: 15px 0 0 110px;
    text-align: center;
}

.botao-c {
    padding: 24px;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    background-color: #0A3871;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    font-family: "inter";
    border: 2px solid #0A3871;
    cursor: pointer;
    
}

.botao-d {
    padding: 24px;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    background-color: #D8DFE8;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    font-family: "inter";
    border: 2px solid #0A3871;
    margin: 0 24px;
    cursor: pointer;
}

footer {
    position: absolute;
	text-align: center;
    color: #0A3871;
	padding: 20px 0;
    bottom: 0;
    width: 100%;
}