body {
    background-color: #F3F5FC;
}

.cabecalho{
    margin: 20px 10px 0 24px;
}

.alura{
    margin: -15px 24px;
}

.titulo {
    font-family: "inter";
    font-weight: bold;
    font-size: 32px;
    color: #0A3871;
    display: inline-block;
}


.botoes {
    
    margin: 13% 0 0 30%;
}

.botao-c {
    margin: 15px 0 0 110px;
    display: block;
    padding: 24px;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    background-color: #0A3871;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    font-family: "inter";
    border: 2px solid #0A3871;
    cursor: pointer;
}

.botao-a {
    margin: 40px 0 0 110px;
    display: block;
    padding: 24px;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    background-color: #D8DFE8;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    font-family: "inter";
    border: 2px solid #0A3871;
    cursor: pointer;
    
}


footer {
    position: absolute;
	text-align: center;
    color: #0A3871;
	padding: 20px 0;
    bottom: 0;
    width: 100%;
   
}